//VARIABLES
$header-bg-color: #87509c;
$section1-bg-color: #17c2a4;
$section2-bg-color: #e7f1f8;
$section3-bg-color: #ffffff;
$section4-bg-color: #ffdd99;
$section5-bg-color: #d74680;
$section6-bg-color: #3c5499;



//GENERAL

body {
	font-family: 'Titillium Web', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 100%;

}

.container {
	max-width: 1010px;
	margin: 0 auto;
	padding: 0 1.5625em; /* 25/16 */

}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.left {
	float: left;
}

.right {
	float: right;
}

//CLEARFIX

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

//BORDER-BOX

html, body {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

//HEADER

header {
	background-color: $header-bg-color;
	padding: 3.75em 0 9.0625em; /* 60/16 */ /* 145/16 */
	text-align: center;

	nav ul {
		margin-top: 0.625em; /* 10/16 */
	}
	nav li {
		display: inline-block;
		padding-right: 1.6875em; /* 27/16 */
		&:last-child {
			padding-right: 0;
		}
		a {
			text-transform: uppercase;
			color: white;
			font-weight: 400;
			font-size: 1em;
			padding: 0.625em 1.125em; /* 10/16 */ /* 18/16 */
			border-radius: 0.5em; /* 8/16 */
			&:hover {
				background-color: #643a79;
			}
		}
	}
	h2 {
		clear: both;
		font-size: 2.625em; /* 42/16 */
		font-weight: 700;
		line-height: 1.1666666666666667em; /* 49/42 */
		color: white;
		text-align: center;
		padding: 3.1666666666666665em 0 1.5em; /* 133/42 */ /* 63/42 */
	}
	.btn {
		font-size: 1.125em; /* 18/16 */
		font-weight: 600;
		letter-spacing: .0.2777777777777778em; /* 5/18 */
		text-transform: uppercase;
		display: inline-block;
		color: white;
		padding: 1.3888888888888888em 4.444444444444445em; /* 25/18 */ /* 80/18 */
		background-color: #eb7d4b;
		border-radius: 0.2777777777777778em; /* 5/18 */
		border-bottom: 0.16666666666666666em solid #c86a40; /* 3/18 */
		&:hover {
				background-color: darken(#eb7d4b, 3%);
			}
	}
}

h1, h2, ul, li {
	margin: 0;
	padding: 0;
}

.logo img {
	position: relative;
	top: -10px;
}

.boxes {
	display: none;
	position: relative;
	top: 5px;
	cursor: pointer;
}

.box1, .box2, .box3 {
	width: 30px;
	height: 4px;
	background-color: white;
	margin-top: 6px;
	border-radius: 3px;
}

.nav-bg {
	background-color: none;
	width: 100%;
	height:52px;
	margin-top: 40px;
	display: none;
	z-index: 10;
	
	li {
		width: 19.5%;
		height: 50px;
		list-style: none;
		display: inline-block;



	}
	a {
		width: 100%;
		height: 100%;
		font-size: 1.25em; /* 20/16 */
		line-height: 2.5em; /* 50/20 */
		font-weight: 600;
		color: white;
		text-transform: uppercase;
		display: inline-block;	
	}

	.services { 
		background-color: $section1-bg-color;
		&:hover {
				background-color: darken($section1-bg-color, 4%);
			}
	 }

	.about {
		background-color: #c8d9e5;
		&:hover {
				background-color: darken(#c8d9e5, 4%);
			}
	 }

	.work {
	 	background-color: $section4-bg-color;
	 	&:hover {
				background-color: darken($section4-bg-color, 4%);
			}
	 }

	.reviews {
		background-color: $section5-bg-color;
		&:hover {
				background-color: darken($section5-bg-color, 4%);
			}
	 }

	.contact {
		background-color: $section6-bg-color;
		&:hover {
				background-color: darken($section6-bg-color, 4%);
			}
	}


}

//SECTION1

.section1 {
	background-color: $section1-bg-color;
	text-align: center;
	color: white;
	padding: 7.5em 0 8.125em; /* 120/16 */ /* 130/16 */
}

.section1 {
	h1 {
		font-size: 2.5em; /* 40/16 */
		font-weight: 700;
		letter-spacing: 0.1em; /* 4/40 */
		line-height: 0.75em; /* 30/40 */
	}

	.line {
		width: 5.5em; /* 88/16 */
		height: 0.25em; /* 4/16 */
		background-color: #14a58c;
		margin: 1.375em auto 1.5em; /* 22/16 */ /* 24/16 */
	}

	h2 {
		font-size: 1.125em; /* 18/16 */
		font-weight: 400;
		line-height: 1.4444444444444444em; /* 26/18 */
		letter-spacing: 0.05555555555555555em; /* 1/18 */
	}
}

.section1 ul {
	display: flex;
	margin-top: 5em; /* 80/16 */
	li {
		display: inline-block;
		margin-right: 5%;

		&:last-child {
		margin-right: 0;
		}

		h2 {
			font-size: 1.5em;  /* 24/16 */
			letter-spacing: 0.041666666666666664em; /* 1/24 */
			font-weight: 700;
			text-transform: uppercase;

		}

		p {
			font-size: 1em;
			font-weight: 300;
			line-height: 1.5em; /* 24/16 */
			letter-spacing: 1;
		}
		img {
			padding-bottom: 3.75em; /* 60/16 */
		}
	}
}

//SECTION2

.section2 {
	background-color: $section2-bg-color;
	padding: 7.625em 0 7.9375em; /* 122/16 */ /* 127/16 */
	text-align: center;
	color: #3c4761;
}

.section2 {
	h1 {
		font-size: 2.5em; /* 40/16 */
		font-weight: 700;
		letter-spacing: 0.1em; /* 4/40 */
		line-height: 0.75em; /* 30/40 */
	}

	.line {
		width: 5.5em; /* 88/16 */
		height: 0.25em; /* 4/16 */
		background-color: #c8d9e5;
		margin: 1.375em auto 1.5em; /* 22/16 */ /* 24/16 */
	}

	h2 {
		font-size: 1.125em; /* 18/16 */
		font-weight: 400;
		line-height: 1.4444444444444444em; /* 26/18 */
		letter-spacing: 0.05555555555555555em; /* 1/18 */
	}
}

.section2 ul {
	display: flex;
	li {
		display: inline-block;
		margin-right: 6%;
		&:last-child {
		margin-right: 0;
		}

		img {
			border-radius: 50%;
			border: 0.1875em solid #c8d9e5; /* 3/16 */
			margin: 5.3125em 0 2.6875em; /* 85/16 */ /* 43/16 */
		}

		h2 {
			font-size: 1.5em; /* 24/16 */
			font-weight: 700;
			letter-spacing: 0.041666666666666664em; /* 1/24 */
			text-transform: uppercase;
		}

		h3 {
			font-size: 1em;
			font-weight: 400;
			letter-spacing: 0.0625em; /* 1/16 */
			margin-top: 0.3125em; /* 5/16 */
			color: #55c2e9;
		}
	

		p {
			margin: 2.0625em 0 2.1875em; /* 33/16 */ /* 35/16 */
		}

		.social a {
			width: 1.875em; /* 30/16 */
			height: 1.875em; /* 30/16 */
			border-radius: 50%;
			background-color: #bdd1df;
			display: inline-block;
			margin: 0 0.375em; /* 6/16 */
			&:hover {
			transform: scale(1.1);
		}
		}

		.fa-facebook-f,
		.fa-twitter,
		.fa-envelope {
			color: white;
			font-size:0.875em; /* 14/16 */
			vertical-align: middle;
			position: relative;
			top: 1px;
		}


	}

}

//SECTION3

.section3 {
	padding: 7.5em 0 7.8125em; /* 120/16 */ /* 125/16 */
	background-color: $section3-bg-color;
	text-align: center;
	color: #3c4761;
}

.section3 {
	h1 {
		font-size: 2.5em; /* 40/16 */
		font-weight: 700;
		letter-spacing: 0.1em; /* 4/40 */
		line-height: 0.75em; /* 30/40 */
	}

	.line {
		width: 5.5em; /* 88/16 */
		height: 0.25em; /* 4/16 */
		background-color: #c8d9e5;
		margin: 1.375em auto 1.5em; /* 22/16 */ /* 24/16 */
	}

	h2 {
		font-size: 1.125em; /* 18/16 */
		font-weight: 400;
		line-height: 1.4444444444444444em; /* 26/18 */
		letter-spacing: 0.05555555555555555em; /* 1/18 */
	}
}

.section3 ul{
	display: flex;
	li {
		display: inline-block;
		margin: 0 auto;
		position: relative;

	}
	svg {
		margin: 5.5em 0 1.5625em; /* 88/16 */ /* 25/16 */
	}

	span {
		font-size: 0.64em; /* 32/50 */
		font-weight: 300;
	}
}




circle {
	fill: transparent;
	stroke-width: 0.75em; /* 12/16 */
}

.underlay {
	stroke: #dfe8ed;
}

.webdesign {
	stroke: #30bae7;
}

.html-css {
	stroke: #d74680;
}

.graphicdesign {
	stroke: #15c7a8;
}

.ui-ux {
	stroke: #eb7d4b;
}

.per {
	position: absolute;
	bottom:1.2em; /* 60/50 */
	left: 30%; 
	font-size: 3.125em; /* 50/16 */
	font-weight: 300;
}

.skills {
	margin: 0;
	font-size: 1.5em; /* 24/16 */
	font-weight: 700;
}

//SECTION4

.section4 {
	background-color: $section4-bg-color;
	padding: 6.875em 0 2.75em 0; /* 110/16 */ /* 44/16 */
	text-align: center;
	color: #393939;
}

.section4 {
	h1 {
		font-size: 2.5em; /* 40/16 */
		font-weight: 700;
		letter-spacing: 0.1em; /* 4/40 */
		line-height: 0.75em; /* 30/40 */
	}

	.line {
		width: 5.5em; /* 88/16 */
		height: 0.25em; /* 4/16 */
		background-color: #e5c37f;
		margin: 1.375em auto 1.5em; /* 22/16 */ /* 24/16 */
	}

	h2 {
		font-size: 1.125em; /* 18/16 */
		font-weight: 400;
		line-height: 1.4444444444444444em; /* 26/18 */
		letter-spacing: 0.05555555555555555em; /* 1/18 */
	}
}

.section4 .menu {
	padding: 2.8125em 0 3.75em; /* 45/16 */ /* 60/16 */

	li {
		list-style: none;
		display: inline-block;
		margin-right: 0.625em; /* 10/16 */
		&:last-child {
			margin-right: 0;
		}
	}

	a {
		display: inline-block;
		text-transform: uppercase;
		font-size: 1.125em; /* 18/16 */
		font-weight: 400;
		letter-spacing: .0.2777777777777778em; /* 5/18 */
		color: #393939;
		padding: 0.5555555555555556em 0.8333333333333334em; /* 10/18 */ /* 15/18 */
		background-color: #ebc985;
		border-radius: 0.2777777777777778em; /* 5/18 */
		&:hover {
			background-color: #fff;
		}
	}
}

.gallery ul {
	display: flex;
	flex-wrap: wrap;
	li {
		display: inline-block;
		list-style: none;
		width: 49%;
		margin-right: 1%;
		&:nth-child(2),
		&:nth-child(4) {
			margin-right: 0;
		}
	}
	.describe {
		font-size: 1.125em; /* 18/16 */
		color: #393939;
		font-weight: 600;
		margin: 1.8333333333333333em 0 3.6666666666666665em; /* 33/18 */ /* 66/18 */
	}
}

//SECTION5

.section5 {
	padding: 7.5em 0 8.125em; /* 120/16 */ /* 130/16 */
	background-color: $section5-bg-color;
	text-align: center;
	color: #fff;
}

.section5 {
	h1 {
		font-size: 2.5em; /* 40/16 */
		font-weight: 700;
		letter-spacing: 0.1em; /* 4/40 */
		line-height: 0.75em; /* 30/40 */
	}

	.line {
		width: 5.5em; /* 88/16 */
		height: 0.25em; /* 4/16 */
		background-color: #b73c6d;
		margin: 1.375em auto 1.5em; /* 22/16 */ /* 24/16 */
	}

	h2 {
		font-size: 1.125em; /* 18/16 */
		font-weight: 400;
		line-height: 1.4444444444444444em; /* 26/18 */
		letter-spacing: 0.05555555555555555em; /* 1/18 */
	}
}

.comments {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	padding-top: 4.375em; /* 70/16 */

	li {
		list-style: none;
		width:48%;
		text-align: left;
		&:nth-child(1),
		&:nth-child(3) {
			margin-right: 4%;
		}
		&:nth-child(1),
		&:nth-child(2) {
			margin-bottom: 6.25em; /* 100/16 */
		}
	}

	img {
		border-radius: 50%;
		border: 0.1875em solid #b73c6d; /* 3/16 */
		

	}

	p {
		font-size: 1.3125em; /* 21/16 */
		line-height: 1.4761904761904763em; /* 31/21 */
		font-style: italic;
		font-weight: 300;
		margin: 0;
		padding-bottom: 0.9523809523809523em; /* 20/21 */
	}

	h2 {
		font-size: 1.5em; /* 24/16 */
		line-height: 1.0833333333333333em; /* 26/24 */
		font-weight: 700;
		text-transform: uppercase;

	}
	h3 {
		font-size: 1.125em; /* 18/16 */
		line-height: 1.4444444444444444em; /* 26/18 */
		font-weight: 400;
		color: #ffdd99;
		margin: 0;
	}
	.comment {
		max-width: 330px;
	}
}

//SECTION6

.section6 {
	padding: 7.5em 0 7.1875em; /* 120/16 */ /* 115/16 */
	background-color: #3c5499;
	color: white;
	text-align: center;
}

.section6 {
	h1 {
		font-size: 2.5em; /* 40/16 */
		font-weight: 700;
		letter-spacing: 0.1em; /* 4/40 */
		line-height: 0.75em; /* 30/40 */
	}

	.line {
		width: 5.5em; /* 88/16 */
		height: 0.25em; /* 4/16 */
		background-color: #273a71;
		margin: 1.375em auto 1.5em; /* 22/16 */ /* 24/16 */
	}

	h2 {
		font-size: 1.125em; /* 18/16 */
		font-weight: 400;
		line-height: 1.4444444444444444em; /* 26/18 */
		letter-spacing: 0.05555555555555555em; /* 1/18 */
	}
}

form {
	margin: 5em 0 0; /* 80/16 */


	input {
		font-family: 'Titillium Web', sans-serif;
		font-size: 1.125em; /* 18/16 */
		font-weight: 400;
		color: white;
		width: 48%;
		height: 3.0555555555555554em; /* 55/18 */
		color: white;
		border-radius: 0.2777777777777778em; /* 5/18 */
		border: none;
		background-color: #273a71;
		padding-left: 1.3888888888888888em; /* 25/18 */
		outline: none;
		&:nth-child(1) {
			margin-right: 3.5%;
		}

	}

	textarea {
		font-family: 'Titillium Web', sans-serif;
		font-size: 1.125em; /* 18/16 */
		font-weight: 400;
		width: 100%;
		height: 11.11111111111111em; /* 200/18 */
		color: white;
		border: none;
		border-radius: 0.2777777777777778em; /* 5/18 */
		background-color: #273a71;
		padding: 1.3888888888888888em; /* 25/18 */
		margin-top: 1.3888888888888888em; /* 25/18 */
		outline: none;
	}

	a {
		font-size: 18px;
		font-weight: 600;

		display: inline-block;
		color: white;
		padding: 1.5555555555555556em 4.722222222222222em; /* 28/18 */ /* 85/18 */
		background-color: #30bae7;
		border-radius: 0.2777777777777778em; /* 5/18 */
		border-bottom: 0.16666666666666666em solid #299ec5; /* 3/18 */
		margin-top: 3.3333333333333335em; /* 60/18 */
		text-transform: uppercase;
		&:hover {
			background-color: darken(#30bae7, 3%);
		}
	}

	::placeholder {
		color: white;
	}

}

//FOOTER

footer {
	background-color: #344b8e;
	padding: 2.8125em 0; /* 45/16 */
	text-align: center;

	li {
		list-style: none;
		display: inline-block;
		margin-right: 3.4375em; /* 55/16 */
		&:last-child {
			margin-right: 0;
		}

	}

	a {
		color: white;
		font-size: 1.5em;  /* 24/16 */
		font-weight: 600;
		&:hover{
			color: #30bae7;
		}
	}
}


//MEDIA
//header

@media (max-width: 1024px) {
	header nav {
		display: none;
	}

	.boxes {
		display: block;
	}

}

@media (max-width: 970px) {
	header h2 br {
		display: none;
	}
}

@media (max-width: 800px) {
	header {
		font-size: 80%;
		padding-bottom: 100px;

		h2 {
			padding-top: 80px;
		}

		.nav-bg a{
			font-size: 15px;
			line-height: 50px;
		}
	}
}

//SECTION1

@media (max-width: 730px) {
	.section1 br{
		display: none;
	}
}

@media (max-width: 547px) {
	.section1 h1{
		line-height: 50px;
	}
}

@media (max-width: 973px) {
	.section1 ul {
		display: block;
		li {
		width: 45%;
		margin-right: 0;
		&:nth-child(1), 
		&:nth-child(3){
			margin-right: 9.5%;
		}
		&:nth-child(1), 
		&:nth-child(2){
			margin-bottom: 50px;
		}
		}
	}
}

@media (max-width: 765px) {
	.section1 ul {
		display: block;
		li {
		width: 100%;
		margin-bottom: 50px;
		&:nth-child(1), 
		&:nth-child(3){
			margin-right: 0;
		} 
		&:nth-child(4){
			margin-bottom: 0;
		}
		}
	}
}

@media (max-width: 550px) {
	.section1 {
		font-size: 90%;
		padding: 5em 0 6em;
	}
}

//SECTION2

@media (max-width: 920px) {
	.section2 ul {
		display: block;
		li {
		margin-right: 0;
		width: 47%;
		&:nth-child(1), 
		&:nth-child(3){
			margin-right: 4%;
		} 
		}
	}
}

@media (max-width: 665px) {
	.section2 {
		font-size: 95%;
		h1 {
		line-height: 50px;
		}
	}
}

@media (max-width: 630px) {
	.section2 ul li {
		width: 100%;
		&:nth-child(1), 
		&:nth-child(3){
			margin-right: 0;
		} 
		p {
			margin: 2em 0 1em;
		}
	}
}

//SECTION3

@media (max-width: 880px) {
	.section3 ul {
		display: block;
		li {
			width: 49%;
		}
		.per {
			left: 42%;
		}
	}
}

@media (max-width: 800px) {
	.section3 ul .per {
		left: 39%;
	}
}

@media (max-width: 685px) {

.section3 {
	h2 br {
		display: none;
	}
}

}

@media (max-width: 650px) {


	.section3 ul li{
		width: 100%;
		.per {
			left: 43%;
		}
	
	}
}

//SECTION4

@media (max-width: 700px) {
	.section4 .gallery li {
		display: block;
		width: 100%;
		margin-right: 0;
	}
}

@media (max-width: 625px) {
	.section4 br {
		display: none;
	}
}

//SECTION5

@media (max-width: 1024px) {
	.comments {
		text-align: center;
		li {
			width: 100%;
			text-align: center;
			margin-right: 0!important;
			margin-bottom: 70px!important;
			&:last-child {
				margin-bottom: 0!important;
			}

		}
		.comment {
			max-width: none;
			margin: 0 auto;
			float: none;		
		}

		img {
			margin-bottom: 20px;
		}

	}
}

@media (max-width: 600px) {
	.section5 {
		font-size: 95%;
		padding: 100px 0;
	}
}


@media (max-width: 680px) {
	.section5 {
		h1 {
			line-height: 50px;
		}

	}
}

//SECTION6

@media (max-width: 770px) {
	form input {
		width: 100%;
		&:nth-child(1) {
			margin-right: 0;
			margin-bottom: 25px;
		}
	}
}

@media (max-width: 600px) {
	.section6 {
		font-size: 90%;
		padding: 80px 0;
		form a {
			font-size: 95%;
		}
	}
}

//FOOTER

@media (max-width: 1024px) {
	footer {
		font-size: 80%;
	}
}

@media (max-width: 815px) {
	footer {
		font-size: 70%;
	}
}

@media (max-width: 715px) {
	footer {
		font-size: 60%;
	}
}

@media (max-width: 615px) {
	footer {
		font-size: 45%;
	}
}